* {
    margin: 0;
    box-sizing: border-box;
}

.App {
    text-transform: capitalize;
    background-color: white;
    height: max-content;
    color: black;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Header {
    height: 5vh;
    width: 100%;
    background-color: rgb(235, 194, 194);
    text-align: center;
    padding: 5px 0;
    transition: background-color .5s ease-out;
}

.white {
    background-color: white;
    color: black;
}

.yellow {
    background-color: yellow;
    color: black;
}

.light-grey {
    background-color: light-grey;
    color: white;
}

.grey {
    background-color: gray;
    color: white;
}

.form-group {
    display: block;
    margin-top: .5rem;
    padding: 0;
    width: 100%;
    max-width: 280px;
    height: auto;
    line-height: normal;
    font-size: 1.875rem;
    color: #333333;
    border: none;
    border-bottom: 2px solid #d6d6d6;
    align-items: center;
}

.form-group input::placeholder {
    color: #adadad;
    opacity: 1;
    line-height: normal !important;
}

h2 {
    color: white;
    text-align: center;
}

button {
    margin-top: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    border: none !important;
}

.error {
    color: lightgray;
}

@media screen and (max-width: 576px) {
    .form-group {
        display: flex;
        flex-wrap: wrap;
        min-width: 350px;
    }
    .form-control {
        width: 80%;
        min-width: 100px;
    }
}