* {
    margin: 0;
    box-sizing: border-box;
}

.App {
    text-transform: capitalize;
    background-color: black;
    height: max-content;
    /* width: fit-content; */
    color: white;
    padding: 20px 0;
}

img {
    width: 50%;
    object-fit: cover;
}

.form-group {
    max-width: 1000px;
    min-width: 500px;
}

h2 {
    color: white;
    text-align: center;
}

button {
    margin-top: 10px;
}

@media screen and (max-width: 576px) {
    .form-group {
        display: flex;
        flex-wrap: wrap;
        min-width: 350px;
    }
    .form-control {
        width: 80%;
        min-width: 100px;
    }
}